 /*--NINH'S*/
.content-area {
    display: flex;
    align-items: center;
    justify-items: center;
}
.content-area h1 {
    background-color: #3590ca;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 4px;
}

.content-area h2 {
    background-color: #B3DCFA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.content-area article {
    width: 100%;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 5px 5px 5px gray;
    color: #242424;
}

.content-area article:hover button {
    display: block;
}

.content-area button {
    border: none;
    color: white;
    background-color: #3590ca;
    padding: 10px 40px;
    display: none;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    clear: both;
}

.content-area  ul {
    padding-left: 1.75em;
}

.content-area ol {
    padding-left: 1.5em;
}

.shortdesc {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.shortdesc strong {
    display: none;
}

.info {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.respo, .require {
    margin: 8px;
    border-radius: 8px;
    background-color: aliceblue;
    padding-bottom: 4px;
}
.respo h3, .require h3 {
    text-align: center;
    font-size: 115%;
    padding: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #B3DCFA;
}

@media only screen and (max-width: 1000px) {
    .info {
        display: block;
    }
}